
<div class="col-md-8 full-height sidebarleft" style="background:#ffffff;">
	<div class="feed full-height" ng-controller="friendSideBarCtrl" friend-feed>
		<div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="http://wp-desk.com/lovinflat/images/persons/person_1.png" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>awdbwajdbakwjdbawjkdbkjaw</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>

	</div>
</div>