<div class="col-md-2 full-height sidebarleft">
  <div class="header full-height" ng-controller="friendSideBarCtrl" >
    <div class="alert alert-info friends"><h3>Friends</h3></div>

    <div class="list-group" friend-side-bar>
      <a href="#" class="list-group-item friends">
	<div class="row">
	  <div class="col-md-5">
	    <img src="..." alt="..." class="img-thumbnail profile-picture">
	  </div>
	  <div class="col-md-7">  
	    <p class="friend-name">{{user.facebook.name}}</p>
	  </div>
	</div>
      </a>
    </div>
  </div>
</div>
