<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <div class="row full-height">
      <div class="col-md-3 full-height lcol">
	<h1 class="text-center">Friends</h1>

	<div class="header full-height">
	  
	<% for(var i = 0; i < 5; i++) { %>
	     <div class="list-group">
	       <a href="#" class="list-group-item friends">
		 <div class="row">
		   <div class="col-md-5">
		     <img src="https://s3.amazonaws.com/uifaces/faces/twitter/michzen/128.jpg" class="profile-picture">
		   </div>
		   <div class="col-md-7">  
		     <p class="friend-name">Hi</p>
		   </div>
		 </div>
	       </a>
	       </div>
	<% } %>
	
	</div>

	
      </div>
      <div class="col-md-6 full-height fcol">
	       <h1 class="text-center">Feed</h1>
      </div>
      <div class="col-md-3 full-height rcol">
	<h1 class="text-center">Crews</h1>
      </div>
    </div>



    <script src="bower_components/jquery/dist/jquery.js"></script>
    
    <script src="bower_components/jqueryui/ui/jquery-ui.js"></script>

    <script>

    $(document).keyup(function(e) {

        switch(e.keyCode){
            case 49:
                $(".list-group").find(':nth-child(1)').addClass( "active" );
                break
        }
        alert("kffj" + e.keyCode);
    });


    $(".list-group").draggable({
      cursor: "move",
      revert: true,
      stop: function(event) {
           newsfeed();
      }
    });



    function newsfeed()
    {
      alert("awdawd");
    } 

    </script>



    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->

    <!-- endbower -->
    <!-- endbuild -->
  </body>

</html>
